<div class="col-sm-6">
	<div class="alert alert-info" style="text-align:center;" role="alert">
		<span style="font-size: 3em"><%= number %></span> 
		<span> <%= description %></span>
	</div>
</div><!-- /col -->
