<table class='table'>
	<tr>
		<th> Medication </th>
		<th> Yesterday AM </th>
		<th> Yesterday PM </th>
		<th> Today AM </th>
		<th> Today PM </th>
		<th> Missed Doses this Month </th>
	</tr>
	<% @meds.each do |med| %>
	<tr>
		<td> <%= "#{med[:name]} #{med[:dose]}"%></td>
		<% med[:doses].each do |dose| %>
		<td>	
		<% if dose.nil? %>
				<i class='fa fa-minus'>
			<% else %>
				<% if dose %>
					<i class="fa fa-check"></i>
				<% else %>
					<i class="fa fa-times">
				<% end %>
			<% end %>
		<% end %>
		</td>
		<td><span class='badge'> <%=med[:missed]%> </td>
	</tr>
	<% end %>
</table>

<style>
	th{
		background:lightgray;
	}
	.fa-check{
		color:green;
	}
	.fa-times{
		color:red;
	}
	.fa-minus{
		color:gray;
	}
</style>